<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
<div class="bg-primary text-white p-5 text-center">
  <h1>Fruit Cart App</h1>
  <p>This is an application for my fruit cart!</p>
</div>

<div class="card main-card">
  <div class="card-body">
      <div class="row">
          <div class="col-4">
              <div class="card">
                  <div class="card-header">
                      Product Form
                  </div>
                  <div class="card-body">
                      <app-product-form></app-product-form>
                  </div>
              </div>
          </div>
          <div class="col-8">
              <div class="card">
                  <div class="card-header">
                      Shopping Cart
                  </div>
                  <div class="card-body">
                      <app-shopping-cart></app-shopping-cart>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
